
.upper-header{
    background-color: #424242;
    color: #7e7e7e;
    height: 40px;
    font-size: 14px;
}

/* header styling */
header{
    background-image: url(../assets/banner/background_image.png);
}

.logo{
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    padding: 24px 0px;
}

.logo p{
    padding: 15px 0px;
}

.menu, .nav-right{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    padding: 10px 0px;
}

.menu-item{
    padding: 20px 12px;
}

.nav-right-item{
    padding: 20px 9px;
}

.banner-title{
    font-size: 40px;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

.banner{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.btn{
    background-color: #f0423c;
    padding: 12px 33px;
    color: white;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.btn-view-category{
    display: block;
    margin: 20px auto;
}

.section-title>p{
    text-align: center;
}

.section-title>img{
    display: block;
    margin: 10px auto;
}

.sub-title{
    margin: 20px 0px 30px 0px;
}

/* fonts used */
.exo-bold-24{
    font-size: 24px;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    color: #424242;
}

.exo-demibold-28{
    font-size: 28px;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    color: #424242;

}

.lato-reg-16{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #424242;

}

.lato-reg-14{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #424242;

}

.lato-bold-14{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #424242;
    font-weight: bold;
    line-height: 2;
}

.exo-reg-16{
    font-size: 16px;
    font-family: 'Exo', sans-serif;
}

.lato-bold-16{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #424242;

}

.exo-bold-18{
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #424242;
    line-height: 2;
}

.exo-demibold-18{
    font-size: 18px;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    color: #424242;

}

.gallery li{
    width: 31%;
    padding: 20px;
    float: left;
    border: 1px solid grey;
    margin: 1%;
}

.center-item>p{
    text-align: center;
}

.center-item>img{
    display: block;
    margin: 10px auto;
}

.second-section li{
    float: left;
    width: 25%;
}

.second-section{
    position: relative;
    background-image: url(../assets/content/background_image.png);
}

.second-section p{
    color: white;
}

.second-section-overlay{
    background-color:black; 
    opacity: 0.8;
    padding: 50px 0px;
}

.third-section{
    padding: 50px 0px;
}

ul{
    list-style: none;
}

.third-section-content-left{
    padding: 20px;
}

.third-section-content-left ul{
    padding: 10px 0px;
}

.third-section-content-left li{
    width: 90%;
    padding: 10px 0px;
}

.third-section-content-left li>div{
    width: 70%;
}

.third-section li>*{
    float: left;
}

.third-section-img{
    height: 100%;
}

.third-section-img img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.third-section-content>*{
    float: left;
    width: 50%;
}

.fourth-section-title .exo-demibold-28{
    float: left;
}

.fourth-section{
    padding: 50px 0px;
    background-color: #f7f7f7;
}

.btn-browse-all-contest{
    display: block;
    margin: 0 auto;
}

.overlay{
   position: absolute; 
   top: 0; 
   left: 0; 
   height: 100%; 
   width: 100%; 
   background-color: black; 
   opacity: 0.8;
   visibility: hidden;
}

.overlay-btn{
    float: left;
    width: 50%;
    padding: 12px 0px;
}

.overlay-btn-wrapper{
    position: absolute; 
    bottom: 0px;
    width: 100%;
    /* on-hover make visible */
    visibility: hidden;
}

.example-gallery{
    padding: 50px 0px;
}

.example-gallery li{
    position: relative;
    width: 25%;
    float: left;
}

.example-gallery img{
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.right-button{
    float: right;
    color: white;
    background-color: #f0423c;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0px;

}

.left-button{
    float: right;
    color: white;
    background-color: #424242;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;    
    margin: 5px;

}

.fifth-section{
    padding: 50px 0px;
}

.testimonial-item{
    width: 48%;
    float: left;
    margin: 1%;
}
.feedback{
    text-align: center;
}

.feedback::first-line{
    text-align: justify;
}

.bg-div{
    background-color: #f7f7f7;
    padding: 30px 30px;
}

.rating{
    width: 152px;
    margin: 10px auto 0px auto;
}

.rating>*{
    float: left;
}
.rating-star{
    margin-left: 5px;
}

.rating-star img{
    float: left;
}

.testimonial-by{
    text-align: center;
    padding: 10px;
}

.testimonial-icon{
    display: block;
    margin: 0 auto;
}

.btn-wrapper{
    width: 104px;
    margin: 50px auto 0px auto;
}

.sixth-section{
    background-color: #f7f7f7;
    padding: 30px 0px;
}

.sixth-section li{
    float: left;
    width: 20%;
}

.sixth-section img{
    width: 100%;
    max-width: 100%;
}

.seventh-section{
    padding: 50px 0px;
}

.coupon-section{
    float: left;
    width: 40%;
}

.email-section{
    float: left;
    width: 60%;
    padding: 15px 0px;
}

.email-section input{
    padding: 12px 5px;
    float: left;
    width: 70%;
}

.btn-email-me{
    background-color: #f0423c;
    padding: 12px 33px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: white;
    float: right;
}

.copyright-section{
    height: 50px;
    background-color: #434343;
    color: #888888;
}

.copyright-section li{
    float: right;
    padding: 15px;
}

.copyright-section p{
    float: left;
    padding: 15px;
}

footer .top-section{
    border-top: 2px solid #f0423c;
    background-color: #f7f7f7;
    padding-bottom: 50px;
    font-size: 14px;
}

.about-us{
    width: 30%;
    float: left;
    padding: 5px;
}

.quick-links{
    width: 18%;
    float: left;
    margin: 0px 1%;
    padding: 5px;
}

.my-account{
    width: 18%;
    float: left;
    margin: 0px 1%;
    padding: 5px;
}

.newsletter{
    width: 30%;
    float: right;
    padding: 5px;
}

.footer-social-icon-item{
    width: 23px;
    height: 23px;
    float: left;
    border: 1px solid #888888;
    margin: 5px;
}

.footer-social-icons{
    padding: 10px 0px;
}

footer{
    color: #666666;
}

footer .logo{
    width: 100%;
    padding: 0px;
}

.quick-links li, .my-account li{
    padding: 10px;
    border-bottom: 1px solid #888888;
}

.btn-up{
    color: white;
    background-color: #f0423c;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    float: right;
}

.newsletter input{
    padding: 12px 5px;
    width: 100%;
    margin: 4px 0px;
}

.newsletter-btn{
    width: 100%;
    padding: 12px 0px;
    color: white;
    font-size: 16px;
    font-family: 'Exo', sans-serif;
    background-color: #f0423c;
    margin: 4px 0px;
}

.about-us-content, .newsletter-content{
    text-align: justify;
}

.example-gallery li:hover .overlay, .example-gallery li:hover .overlay-btn-wrapper{
    visibility: visible;
}